#MovieList{
    display: inline-flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: #101010;
    overflow: scroll;
    height: 100vh;
}

#MovieList::-webkit-scrollbar {
    display: none;
}

#MoviePage {
    display: inline-flex;
    height: 100vh;
}

.ListBorder {
    width: 10%;
    background-image: url(https://live.staticflickr.com/5043/5300777227_aa6cf1ab77_c.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
