.movieDisplay-Body {
    display: inline-flex;
    box-shadow: 25px 20px 10px black;
}

.movieDisplay:hover {
    transform: scale(1.25);
}

.movieDisplay {
    width: 20%;
    margin: 2.5%;
}

.title{
    margin-top: 2em;;
    color: white;
    height: 2.5em;
}

.genres{
    color: white;
}
